/*
헤더 영역
(홈페이지 헤더 따로 관리 : /css/header.css)
*/
.main-header-container {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    min-width: 360px;
    height: 21.7rem;
    margin: 0 auto;
    padding: 15px 15px 0;
    background: #fff;
    border-radius: 0 0 20px 20px;
}
.header-title {
    font-weight: 700;
    font-size: 1.8rem;
}
.header-close-icon {
    width: 2.5rem;
    height: 2.5rem;
}

/*
section
*/
.section-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 11px;
}
.section-title {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.more-button > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.more-button span {
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.more-button img {
    width: 1.2rem;
    height: 1.2rem;
}

/*
카드 ui
*/
.card-horizon-wrap {
    max-width: 750px;
    min-width: 360px;
    overflow-x: auto;
}
.card-horizon-content-wrap {
    display: flex;
    gap: 6px;
}
.card-horizon-content-wrap::-webkit-scrollbar {
    display: none;
}
.card-list {
    margin-bottom: 5px;
    min-width: 345px;
    border-radius: 15px;
    border: 1px solid var(--gray-eb);
    background: #fff;
}
.card-horizon-wrap .card-list {
    display: inline-block;
}
.card-content-wrap {
    padding: 20px;
}
.card-company-name {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.card-title {
    margin: 7px 0;
    color: #000;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: -0.07rem;
    /* ↓ 단어 단위로 줄바꿈 원할 시 추가 */
    /* word-break: keep-all; */

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-title-h3 {
    min-width: 0;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.09rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-date-wrap {
    margin-top: 10px;
    font-size: 1.3rem;
    letter-spacing: -0.065rem;
}

.card-additional-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-additional-info {
    color: var(--gray-6c);
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.card-index-wrap {
    padding: 3px 8px;
    border-radius: 50px;
    background: var(--gray-f6);
    font-size: 1.3rem;
    letter-spacing: -0.07rem;
    color: var(--gray-393434);
    font-family: 'Pretendard', '-apple-system', 'Noto Sans KR', 'sans-serif';
}
.card-index-wrap > span {
    color: var(--primary-gray);
}
.card-additional-info-wrap > img {
    float: right;
}

.card-button-wrap {
    display: flex;
    border-top: 1px solid var(--gray-eb);
}
.card-button-wrap > .button {
    flex: 1;
    padding: 16px;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 1.4rem;
}
.card-button-wrap > .button > .icon {
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: -20%;
}

/*
카드 ui 상태 칩
*/
.card-status-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.status-chip,
.status-chip-gray {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 3px;
    background: var(--primary-blue);
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: -0.06rem;
}
.status-chip-gray {
    background: var(--gray-cb);
}
.card-status-wrap .right {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: -0.055rem;
}

/*
버튼 ui
*/
.full-button {
    margin-top: 5px;
    width: 100%;
    height: 58px;
    border-radius: 15px;
    border: 1px solid var(--primary-yellow);
    background: var(--sub-yellow);
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.09rem;
}
.yellow-button {
    background: var(--sub-yellow);
}

/*
로그아웃, 고객센터 버튼 영역
*/
.logout-button-wrap {
    display: flex;
    gap: 10px;
    margin: 30px 0 60px;
}
.logout-button-wrap .button {
    flex: 1;
    height: 4.6rem;
    border: 1px solid var(--gray-eb);
    border-radius: 10px;
    background: #fff;
    color: var(--gray-62);
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}

/*
유저 프로필 영역
*/
.profile-wrap {
    display: flex;
    align-items: center;
    margin: -180px 0 20px;
}

.profile-image-wrap {
    position: relative;
    margin-right: 15px;
    width: 6.1rem;
    height: 6.1rem;
}
.profile-image {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-eb);
    border-radius: 20px;
    background: var(--gray-f6);
    overflow: hidden;
}
.profile-image > img {
    width: 100%;
    height: 100%;
    object-fit: 100%;
}
.camera-icon {
    position: absolute;
    right: -0.65rem;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    z-index: 1;
}

.user-name {
    margin-bottom: 8px;
    font-size: 1.8rem;
}
.edit-info-link-wrap {
    color: var(--gray-312e27);
    font-size: 1.2rem;
}
.edit-info-link-wrap > a {
    display: inline-block;
}
.edit-info-link-wrap .icon {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(0.1rem);
}

/*
메뉴 바로가기 영역
*/
.main-menu-wrap {
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    background: var(--primary-yellow);
}
.my-info-wrap {
    margin-bottom: calc(-32px + 15px);
    padding: 15px;
    border-radius: 15px;
    background: var(--sub-yellow);
    color: var(--gray-312e27);
}
.main-menu-wrap .title {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 5px;
    letter-spacing: -0.07rem;
}
.main-menu-wrap .desc {
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}

.menu-link-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
    margin-top: 31px;
}
.menu-link {
    flex: 50%;
}
.menu-link > a {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-link .icon-wrap {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 10px;
    background: #fff;
    text-align: center;
}
.menu-link .icon-wrap > .plus-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: translateY(50%);
}
.menu-link .icon-wrap > .icon {
    width: 2rem;
    height: 2rem;
    transform: translateY(25%);
}
.menu-link .icon-wrap > .text {
    display: inline-block;
    font-size: 1.3rem;
    transform: translateY(50%);
}
.link-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}

/*
진행 유료 서비스 영역
*/
.paid-info-wrap {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--gray-eb);
    background: #fff;
}
.paid-name {
    margin: 10px 0;
    font-weight: 700;
    color: var(--primary-blue);
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
}
.paid-desc-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.06rem;
}

/* 페이지 안내 영역 */
.page-information {
    width: 100%;
    margin: 30px 0 60px;
    padding: 20px;
    border: 1px solid var(--gray-eb);
    border-radius: 15px;
    background: #fff;
    font-size: 1.3rem;
    letter-spacing: -0.065px;
}
.paragraph:not(:last-of-type) {
    margin-bottom: 20px;
}
.paragraph-title {
    font-weight: 700;
}
.show-list-style {
    margin-left: 25px;
    list-style: disc;
}
.show-list-style::marker {
    font-size: 0.6rem;
}
.list-style-number {
    margin: 0 3px 0 3px;
}
.additional-info {
    color: var(--gray-84);
}

/*
재선언
*/
.hide {
    display: none !important;
}
.overlap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.red-text {
    color: var(--primary-red) !important;
}
.orange-text {
    color: var(--primary-orange) !important;
}
.green-text {
    color: var(--primary-green) !important;
}
.blue-text {
    color: var(--primary-blue) !important;
}
.bold-text {
    font-weight: 700 !important;
}
.underline-text {
    text-decoration: underline !important;
}

.blue-background {
    background: var(--primary-blue) !important;
    color: #fff !important;
}