/*
헤더 영역
(홈페이지 헤더 따로 관리 : /css/header.css)
*/
.sub-header-container,
.main-header-container {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    min-width: 360px;
    margin: 0 auto;
    background: #fff;
}
.main-header-container {
    padding: 15px 15px 0;
    height: 21.7rem;
    border-radius: 0 0 20px 20px;
}
.sub-header-container {
    padding: 15px;
    border-bottom: 1px solid var(--gray-eb);
}

.header-title {
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.09rem;
}
.header-icon {
    width: 2.5rem;
    height: 2.5rem;
}

/*
section
*/
.section-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 11px;
}
.section-title {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.more-button > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.more-button span {
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.more-button img {
    width: 1.2rem;
    height: 1.2rem;
}

/*
카드 ui
*/
.list-count-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-count {
    padding: 17px 0 16px;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: -0.08px;
}
.checkbox-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.card-wrap {
    margin-top: 10px;
}
.card-horizon-wrap {
    max-width: 750px;
    min-width: 360px;
    overflow-x: auto;
}
.card-horizon-content-wrap {
    display: flex;
    gap: 6px;
}
.card-horizon-content-wrap::-webkit-scrollbar {
    display: none;
}
.card-horizon-content-wrap > .card-list {
    min-width: 360px;
}

.list-title,
.list-date {
    margin: 25px 0 10px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
    color: var(--gray-62);
}
.list-title {
    font-weight: 700;
    color: var(--primary-gray);
}

.card-list,
.disabled-card-list {
    position: relative;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid var(--gray-eb);
    background: #fff;
}
.disabled-card-list,
.disabled-card-list .button {
    color: var(--gray-99);
}
.disabled-card-list .status-chip {
    background: var(--gray-99);
}
.card-horizon-wrap .card-list {
    display: inline-block;
}
.card-list > .icon {
    position: absolute;
    right: 11.7px;
    bottom: 11.7px;
    width: 1.67rem;
    height: 1.67rem;
}

.card-content-wrap {
    display: flex;
    gap: 10px;
}
.card-content-wrap > .card-content {
    flex: 1;
}
.checkbox-icon-wrap {
    display: inline-block;
}

.participate-person-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 18px 15px;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.participate-person-list .left > span {
    margin-right: 7px;
}
.participate-person-list .right > .icon {
    width: 1.4rem;
    height: 1.4rem;
}
.participate-person-list .right > .text {
    color: var(--gray-7d);
    vertical-align: 15%;
    text-decoration: underline;
}

.no-data-card {
    padding: 73px 0;
    color: var(--gray-99);
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: -0.07px;
}
.no-data-small-card {
    padding: 43px 0;
    color: var(--gray-99);
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: -0.07px;
}

.card-content-wrap {
    padding: 15px;
}
.card-company-name {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.card-title {
    margin: 7px 0;
    color: #000;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: -0.07rem;
    /* ↓ 단어 단위로 줄바꿈 원할 시 추가 */
    /* word-break: keep-all; */

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.report-card-wrap .card-title {
    display: flex;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.card-title-h3 {
    min-width: 0;
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.09rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.payment-detail-wrap,
.card-date-wrap {
    display: flex;
    justify-content: space-between;
    margin: 10px 0 5px;
    font-size: 1.3rem;
    letter-spacing: -0.06rem;
}
.payment-detail-wrap {
    font-weight: 500;
}
.payment-detail-wrap > .left > span:not(:first-of-type) {
    margin-left: 5px;
}
.payment-detail-wrap > .left > span.payment-type {
    display: inline-block;
    margin-left: -1px;
    color: var(--gray-62);
}

.card-date-wrap .bold-text:not(:first-of-type) {
    margin-left: 20px;
}

.card-additional-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-additional-info {
    color: var(--gray-6c);
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.card-additional-info > .label {
    color: var(--primary-gray);
    font-weight: 500;
}
.card-index-wrap {
    padding: 3px 8px;
    border-radius: 50px;
    background: var(--gray-f6);
    font-size: 1.3rem;
    letter-spacing: -0.07rem;
    color: var(--gray-393434);
    font-family: 'Pretendard', '-apple-system', 'Noto Sans KR', 'sans-serif';
}
.card-index-wrap > span {
    color: var(--primary-gray);
}

.card-button-wrap {
    display: flex;
    border-top: 1px solid var(--gray-eb);
}
.card-button-wrap > .button {
    flex: 1;
    padding: 16px;
    background: none;
    border: none;
    font-weight: 500;
    font-size: 1.4rem;
}
.card-button-wrap > .button-disabled {
    color: var(--gray-99);
}
.card-button-wrap > .button > .icon {
    width: 1.8rem;
    height: 1.8rem;
    vertical-align: -0.2rem;
}

/*
카드 ui 상태 칩
*/
.card-status-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.status-chip,
.status-chip-red,
.status-chip-gray {
    display: inline-block;
    padding: 3px 7px;
    border-radius: 3px;
    background: var(--primary-blue);
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: -0.06rem;
}
.status-chip-red {
    background: var(--primary-red);
}
.status-chip-gray {
    background: var(--gray-cb);
}
.card-status-wrap .right {
    font-weight: 700;
    font-size: 1.1rem;
    letter-spacing: -0.06rem;
}
.paid-card-list .right {
    font-weight: 500;
    font-size: 1.2rem;
}

/*
버튼 ui
*/
.full-button {
    margin-top: 5px;
    width: 100%;
    height: 58px;
    border-radius: 15px;
    border: 1px solid var(--primary-yellow);
    background: var(--sub-yellow);
    font-weight: 700;
    font-size: 1.8rem;
    letter-spacing: -0.09rem;
}
.full-button-2 {
    width: 100%;
    height: 45px;
    border: 1px solid var(--primary-yellow);
    background: var(--sub-yellow);
    font-weight: 500;
    font-size: 1.4rem;
    border-radius: 5px;
    letter-spacing: -0.07rem;
}
.full-button > a {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.button-wrap {
    display: flex;
    gap: 5px;   
}
.half-button {
    flex: 1;
    margin-top: 10px;
    height: 45px;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    background: var(--primary-gray);
    color: #fff;
    letter-spacing: -0.07rem;
}
.show-input-button {
    color: var(--gray-aa);
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.input-button {
    padding: 12px 15px;
    border: none;
    border-radius: 2px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
    color: var(--gray-c8);
}
.withdrawal-button {
    display: block;
    margin: 30px auto 0;
    border: none;
    background: none;
    color: var(--gray-8e);
    text-decoration: underline;
}

.sorting-button,
.delete-button {
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid var(--gray-d9);
    background: #fff;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.sorting-button > .icon {
    margin-left: 5px;
    width: 0.8rem;
    height: 0.5rem;
    vertical-align: 0.2rem;
}
.delete-button > .icon {
    width: 1.4rem;
    height: 1.4rem;
}
.delete-button > .text {
    vertical-align: 0.2rem;
}

.checkbox-wrap > .text {
    font-weight: 500;
    font-size: 1.4rem;
    color: #000;
    letter-spacing: -0.07rem;
    vertical-align: 0.2rem;
}

/*
input ui
*/
.input-container {
    margin: 0 auto;
}
.input-group {
    margin-bottom: 10px;
    border: 1px solid var(--gray-d9);
    border-radius: 5px;
    background: #fff;
    overflow: hidden;
}
.input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 10px;
}
.input-wrap:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-d9);
}
.input-label {
    display: block;
    margin-bottom: 6px;
    color: var(--gray-aa);
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: -0.055rem;
}
.input-wrap .input {
    width: 100%;
    color: var(--gray-393434);
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
    border: none;
    outline: none;
}
.textarea-group {
    height: 212px;
}
.textarea-group .input-wrap-left {
    width: 100%;
}
.textarea-group textarea {
    display: inline-block;
    width: 100%;
    height: 170px;
    font-weight: 500;
    letter-spacing: -0.05em;
    border: none;
    outline: none;
    resize: none;
}
.input-desc {
    margin: -5px 0 10px 0;
    color: var(--gray-aa);
    font-size: 12px;
    letter-spacing: -0.05em;
}

/* 아이디 입력창 */
.input-wrap-uid {
    background: var(--gray-f3);
}
.input-wrap-uid .input {
    background: none;
    color: var(--gray-aa);
}

/*
로그아웃, 고객센터 버튼 영역
*/
.logout-button-wrap {
    display: flex;
    gap: 10px;
    margin: 30px 0 60px;
}
.logout-button-wrap .button {
    flex: 1;
    height: 4.6rem;
    border: 1px solid var(--gray-eb);
    border-radius: 10px;
    background: #fff;
    color: var(--gray-62);
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}

/*
페이지 내비게이션
*/
.page-navi {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.page-navi > li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1px;
    border: 1px solid var(--gray-d9);
    background: #fff;
    color: var(--primary-gray);
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.page-navi > li.current-page {
    border: none;
    background: var(--primary-gray);
    color: #fff;
}
.page-navi > li.current-page-blue {
    font-weight: 400;
    border: none;
    background: var(--primary-blue);
    color: #fff;
}
.page-navi .icon {
    width: 1.6rem;
    height: 1.6rem;
}

/*
유저 프로필 영역
*/
.profile-wrap {
    display: flex;
    align-items: center;
    margin: -180px 0 20px;
}

.profile-image-wrap {
    position: relative;
    margin-right: 15px;
    width: 6.1rem;
    height: 6.1rem;
}
.profile-image {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-eb);
    border-radius: 20px;
    background: var(--gray-f6);
    overflow: hidden;
}
.profile-image > img {
    width: 100%;
    height: 100%;
    object-fit: 100%;
}
.camera-icon {
    position: absolute;
    right: -0.65rem;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    z-index: 1;
}

.user-name {
    margin-bottom: 8px;
    font-size: 1.8rem;
}
.edit-info-link-wrap {
    color: var(--gray-312e27);
    font-size: 1.2rem;
}
.edit-info-link-wrap > a {
    display: inline-block;
}
.edit-info-link-wrap .icon {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(0.1rem);
}

/*
메뉴 바로가기 영역
*/
.main-menu-wrap {
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
    background: var(--primary-yellow);
}
.my-info-wrap {
    margin-bottom: calc(-32px + 15px);
    padding: 15px;
    border-radius: 15px;
    background: var(--sub-yellow);
    color: var(--gray-312e27);
}
.main-menu-wrap .title {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 5px;
    letter-spacing: -0.07rem;
}
.main-menu-wrap .desc {
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}

.menu-link-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
    margin-top: 31px;
}
.menu-link {
    flex: 50%;
}
.menu-link > a {
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu-link .icon-wrap {
    display: inline-block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 10px;
    background: #fff;
    text-align: center;
}
.menu-link .icon-wrap > .plus-icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: translateY(50%);
}
.menu-link .icon-wrap > .icon {
    width: 2rem;
    height: 2rem;
    transform: translateY(25%);
}
.menu-link .icon-wrap > .text {
    display: inline-block;
    font-size: 1.3rem;
    transform: translateY(50%);
}
.link-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}

/*
진행 유료 서비스 영역
*/
.paid-info-wrap {
    padding: 15px;
    border-radius: 15px;
    border: 1px solid var(--gray-eb);
    background: #fff;
}
.paid-name {
    margin: 10px 0;
    font-weight: 700;
    color: var(--primary-blue);
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
}
.paid-desc-wrap {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: -0.06rem;
}

/* 페이지 안내 영역 */
.page-information {
    width: 100%;
    margin: 30px 0 60px;
    padding: 15px;
    border: 1px solid var(--gray-eb);
    border-radius: 15px;
    background: #fff;
    font-size: 1.3rem;
    line-height: 16px;
    letter-spacing: -0.065px;
}
.paragraph:not(:last-child) {
    margin-bottom: 20px;
}
.paragraph-list:not(:last-child) {
    margin-bottom: 2px
}
.paragraph-title {
    font-weight: 700;
}

.show-list-style {
    margin-left: 20px;
    list-style: disc;
}
.show-list-style::marker {
    font-size: 0.6rem;
}
ol.paragraph {
    list-style: auto;
}
ol.paragraph > .paragraph-list {
    margin-left: 20px;
}
ol.paragraph > .paragraph-list::marker {
    font-weight: 700;
}

.additional-info {
    color: var(--gray-84);
}

/*
회원탈퇴 안내
*/
.withdrawal-information {
    margin: 15px 0;
    padding: 25px 15px;
    border-top: 1px solid var(--primary-gray);
    background: #fff;
}
.withdrawal-information-title {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: -0.08rem;
}
.withdrawal-paragraph:not(:last-of-type) {
    margin-bottom: 10px;
}
.withdrawal-paragraph-title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.withdrawal-paragraph-desc {
    font-size: 1.2rem;
    line-height: 1.4rem;
    letter-spacing: -0.07rem;
    color: var(--gray-7d);
}
.caution-text {
    margin: 10px 0 30px;
    color: var(--sub-red);
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}

/*
업체회원 - 유료서비스신청
*/
.paid-service-list-wrap {
    margin-top: 30px;
}
.paid-service-list {
    margin-bottom: 15px;
    padding: 30px 19px;
    border-top: 2px solid var(--primary-gray);
    background: #fff;
    text-align: center;
}

.paid-service-slide-wrap {
    position: relative;
    margin: 0 18.5px 30px;
    padding: 10px;
    height: 467px;
    border-radius: 15px;
    background: #fff;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.3);
}
.paid-service-image-wrap {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.paid-service-image-wrap > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.paid-service-slide-wrap > .button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: none;
}
.paid-service-slide-wrap > .prev-button {
    left: 0;
}
.paid-service-slide-wrap > .next-button {
    right: 0;
}
.paid-service-slide-wrap > .button > .icon {
    width: 3rem;
}

.paid-service-name {
    color: #333;
    font-weight: 700;
    font-size: 2.7rem;
    line-height: 3.1rem;
    letter-spacing: -0.216rem;
}
h2.paid-service-name {
    position: relative;
    display: inline-block;
}
h2.paid-service-name > span {
    position: relative;
    z-index: 1;
}
h2.paid-service-name > .icon {
    position: absolute;
    left: -5px;
    bottom: -5px;
    width: 10.95rem;
}

/* 유료 서비스 타이틀 위치 조정 */
h2.paid-service-name-premier {
    margin-left: -2%;
}
h2.paid-service-name-plus,
h2.paid-service-name-best {
    margin-left: -3%;
}
h2.paid-service-name-free {
    margin-left: -10%;
}

h3.paid-service-name {
    font-size: 1.9rem;
    letter-spacing: -0.152rem;
}

.paid-service-tag {
    display: inline-block;
    margin: 15px 0 -5px;
    padding: 3.5px 6px;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: -0.096rem;
    background: linear-gradient(to right, var(--primary-orange), #FF7B5A, var(--primary-orange));
    color: #fff;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    transform: translateY(-2px);
}

.paid-service-desc {
    margin-top: 15px;
    color: var(--gray-76);
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: -0.104rem;
}

.price-list-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    margin: 25px 0;
}
.price-list {
    font-size: 1.4rem;
}
.price-list:first-of-type {
    width: 100%;
}
.price-list-type {
    display: inline-block;
    padding: 6px 14px;
    border-radius: 4px 0 0 4px;
    background: var(--primary-yellow);
    font-weight: 700;
    letter-spacing: -0.1em;
}
.price {
    display: inline-block;
    margin-left: -4px;
    padding: 6px 20px;
    border-radius: 0 4px 4px 0;
    background: var(--gray-f5);
    font-weight: 700;
    letter-spacing: -0.05em;
}
.price .line-through-text {
    font-weight: 500;
}

.paid-service-button-wrap {
    display: flex;
    gap: 7px;
}
.paid-service-button-wrap > .button {
    padding: 17.5px 0;
    width: 100%;
    border-radius: 4px;
    border: none;
}
.paid-service-button-wrap .button-name {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.112rem;
    vertical-align: 0.2rem;
}
.paid-service-button-wrap > .yellow-button {
    background: var(--primary-yellow);
    color: #333;
}
.paid-service-button-wrap > .orange-button {
    background: var(--button-orange);
    color: #fff;
}
.paid-service-button-wrap > .gray-button {
    background: var(--primary-gray);
    color: #fff;
}
.paid-service-button-wrap .icon  {
    margin-left: 3px;
    height: 1.4rem;
}

/*
재선언
*/
.hide {
    display: none !important;
}
.overlap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.red-text {
    color: var(--primary-red) !important;
}
.orange-text {
    color: var(--primary-orange) !important;
}
.green-text {
    color: var(--primary-green) !important;
}
.blue-text {
    color: var(--primary-blue) !important;
}
.bold-text {
    font-weight: 700 !important;
}
.underline-text {
    text-decoration: underline !important;
}
.line-through-text {
    text-decoration: line-through !important;
}

.blue-background {
    background: var(--primary-blue) !important;
    color: #fff !important;
}

.yellow-button {
    border: 1px solid var(--primary-yellow) !important;
    background: var(--sub-yellow) !important;
    color: var(--gray-393434) !important;
}
.blue-button {
    border: none !important;
    background: var(--primary-blue) !important;
    color: #fff !important;
}