.hide {
    display: none !important;
}

.overlap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.red-text {
    color: var(--primary-red) !important;
}
.green-text {
    color: var(--primary-green) !important;
}
.blue-text {
    color: var(--primary-blue) !important;
}
.bold-text {
    font-weight: 700;
}
.underline-text {
    text-decoration: underline;
}

/*
헤더 영역
(홈페이지 헤더 따로 관리 : /css/header.css)
*/
.main-header-container {
    display: flex;
    justify-content: space-between;
    max-width: 750px;
    min-width: 360px;
    height: 21.7rem;
    margin: 0 auto;
    padding: 15px 15px 0;
    background: #fff;
    border-radius: 0 0 20px 20px;
}
.header-title {
    font-weight: 700;
    font-size: 1.8rem;
}
.header-close-icon {
    width: 2.5rem;
    height: 2.5rem;
}

/*
section
*/
.section-title-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 11px;
}
.section-title {
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}
.more-button > a {
    display: inline-block;
    width: 100%;
    height: 100%;
}
.more-button span {
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.more-button img {
    width: 1.2rem;
    height: 1.2rem;
}

/*
카드 ui
*/
.card-horizon-wrap {
    max-width: 750px;
    min-width: 360px;
    overflow-x: auto;
}
.card-content-wrap {
    display: flex;
    gap: 6px;
}
.card-content-wrap::-webkit-scrollbar {
    display: none;
}
.card-list {
    margin-bottom: 5px;
    padding: 16px 15px;
    min-width: 345px;
    border-radius: 15px;
    border: 1px solid var(--gray-eb);
    background: #fff;
}
.card-horizon-wrap .card-list {
    display: inline-block;
}
.card-company-name {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.card-title {
    margin: 7px 0;
    color: #000;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5rem;
    letter-spacing: -0.07rem;
    word-break: keep-all;
}
.card-additional-info-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-additional-info {
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}
.card-index-wrap {
    padding: 3px 8px;
    border-radius: 50px;
    background: var(--gray-f6);
    font-size: 1.3rem;
    letter-spacing: -0.07rem;
    color: var(--gray-393434);
    font-family: 'Pretendard', '-apple-system', 'Noto Sans KR', 'sans-serif';
}
.card-index-wrap > span {
    color: var(--primary-gray);
}
.card-additional-info-wrap > img {
    float: right;
}

/*
유저 프로필 영역
*/
.profile-wrap {
    display: flex;
    align-items: center;
    margin: -180px 0 20px;
}

.profile-image-wrap {
    position: relative;
    margin-right: 15px;
    width: 6.1rem;
    height: 6.1rem;
}
.profile-image {
    width: 100%;
    height: 100%;
    border: 1px solid var(--gray-eb);
    border-radius: 20px;
    background: var(--gray-f6);
    overflow: hidden;
}
.profile-image > img {
    width: 100%;
    height: 100%;
    object-fit: 100%;
}
.camera-icon {
    position: absolute;
    right: -0.65rem;
    bottom: 0;
    width: 2rem;
    height: 2rem;
    z-index: 1;
}

.user-name {
    margin-bottom: 8px;
    font-size: 1.8rem;
}
.edit-info-link-wrap {
    color: var(--gray-312e27);
    font-size: 1.2rem;
}
.edit-info-link-wrap > a {
    display: inline-block;
}
.edit-info-link-wrap .icon {
    width: 1.2rem;
    height: 1.2rem;
    transform: translateY(0.1rem);
}

/*
인재정보 요약 영역
*/
.summary-wrap {
    padding: 10px;
    border-radius: 15px;
    background: var(--primary-yellow);
}
.my-info-wrap {
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 15px;
    background: var(--sub-yellow);
    color: var(--gray-312e27);
}
.my-info-wrap > .title {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 5px;
    letter-spacing: -0.07rem;
}
.my-info-wrap > .desc {
    font-size: 1.2rem;
    letter-spacing: -0.06rem;
}

.summary-link-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
}
.summary-link {
    flex: 50%;
}
.summary-link .icon-wrap {
    display: inline-block;
    margin-right: 3px;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 10px;
    background: #fff;
    text-align: center;
}
.summary-link .icon-wrap > .icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    transform: translateY(50%);
}
.summary-link .icon-wrap > .text {
    display: inline-block;
    font-size: 1.3rem;
    transform: translateY(50%);
}
.link-name {
    display: inline-block;
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
    transform: translateY(50%);
}

/* 로그아웃, 고객센터 버튼 영역 */
.logout-button-wrap {
    display: flex;
    gap: 10px;
    margin: 30px 0 60px;
}
.logout-button-wrap .button {
    flex: 1;
    height: 4.6rem;
    border: 1px solid var(--gray-eb);
    border-radius: 10px;
    background: #fff;
    color: var(--gray-62);
    font-size: 1.4rem;
    letter-spacing: -0.07rem;
}