.green-text {
    color: var(--primary-green);
}
.blue-text {
    color: var(--primary-blue);
}
.bold-text {
    font-weight: bold;
}

.page-title-wrap {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary-gray);;
}
.page-title {
    display: inline-block;
    margin-right: 10px;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05em;
}
.additional-title-info {
    display: inline-block;
    color: var(--gray-62);
    font-size: 14px;
    letter-spacing: -0.05em;
    transform: translateY(-3px);
}

/*
페이지 네비게이션
*/
.page-navi {
    margin-top: 16px;
    text-align: center;
}
.page-navi > li {
    display: inline-block;
    padding: 13px 16px;
    border: 1px solid var(--gray-aa);
    color: var(--gray-aa);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.05em;
    cursor: pointer;
}
.page-navi > li.current-page {
    border: 1px solid var(--gray-393434);
    color: #000;
}

/*
메인 페이지 요약
*/
.summary-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 376px;
    margin-bottom: 60px;
    border: 1px solid var(--gray-d9);
    text-align: center;
}
.summary-icon-wrap {
    position: relative;
    margin: 0 auto 20px;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: var(--gray-f5);
    overflow: hidden;
}
.summary-icon-wrap > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.summary-title {
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.summary-desc {
    margin: 10px 0 20px;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: -0.05em;
}
.summary-button {
    width: 100%;
    border: 1px solid var(--gray-e3);
    border-radius: 4px;
    background: none;
    color: var(--gray-252d32);
    letter-spacing: -0.05em;
}
.summary-button > a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
}

.profile-wrap {
    position: relative;
    padding: 0 35px 0 36px;
    width: 238px;
    height: 325px;
    border-right: 1px solid var(--gray-de);
}
.profie-image-wrap {
    margin: 20px auto;
}
.camera-icon {
    position: absolute;
    top: 110px;
    right: 60px;
    cursor: pointer;
}
.profile-desc {
    font-size: 12px;
    letter-spacing: -0.05em;
}
.profile-desc-blue {
    margin: 10px 0 20px;
    color: var(--primary-blue);
    line-height: 16px;
}

.summary-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 861px;
}
.summary-box {
    width: 182px;
    height: 296px;
    padding: 30px 20px;
    border: 1px solid var(--gray-e3);
    border-radius: 4px;
}

/*
페이지 안내, 비밀번호 변경 안내
*/
.page-information {
    width: 100%;
    padding: 20px;
    border: 1px solid var(--gray-cb);
}
.password-information {
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid var(--gray-eb);
    background: var(--gray-f9);
}
.paragraph {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05em;
}
.paragraph:not(:last-of-type) {
    margin-bottom: 20px;
}
.paragraph-title {
    margin-bottom: 2px;
    font-weight: 700;
}
.password-information-title {
    margin-bottom: 10px;
}
.show-list-style {
    margin-left: 20px;
    list-style: disc;
}
.list-style-number {
    margin: 0 3px 0 3px;
}
.additional-info {
    color: var(--gray-84);
}

.cs-center-info-wrap {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid var(--gray-eb);
    border-radius: 4px;
    background: var(--gray-f9);
    text-align: center;
    font-size: 14px;
    letter-spacing: -0.05em;
}

/*
회원정보 관리
*/
.manage-user-container {
    width: 488px;
    margin: 0 auto;
}
.manage-user-title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--primary-gray); 
}
.manage-user-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05em;
}
.manage-user-title-wrap > button {
    border: none;
    background: none;
    color: var(--gray-8e);
    font-size: 14px;
    letter-spacing: -0.05em;
    text-decoration: underline;
    cursor: pointer;
}

.input-group {
    margin-bottom: 20px;
    border: 1px solid var(--gray-d9);
    border-radius: 4px;
    overflow: hidden;
}
.input-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
}
.password-input-wrap {
    padding: 23px 20px;
}
.input-wrap-left {
    width: 70%;
}
.password-input-wrap .input-wrap-left {
    width: 100%;
}
.input-wrap:not(:last-of-type) {
    border-bottom: 1px solid var(--gray-d9);
}
.input-label {
    display: block;
    margin-bottom: 6px;
    color: var(--gray-aa);
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.05em;
}
.password-input-wrap .input-label {
    display: inline-block;
    font-size: 14px;
    width: 110px;
}
.input-wrap input {
    width: 100%;
    font-weight: 500;
    letter-spacing: -0.05em;
    border: none;
    outline: none;
}
.password-input-wrap input {
    width: 70%;
}
.textarea-group {
    height: 212px;
}
.textarea-group .input-wrap-left {
    width: 100%;
}
.textarea-group textarea {
    display: inline-block;
    width: 100%;
    height: 170px;
    font-weight: 500;
    letter-spacing: -0.05em;
    border: none;
    outline: none;
    resize: none;
}
.input-desc {
    margin: -10px 0 20px 0;
    color: var(--gray-62);
    font-size: 12px;
    letter-spacing: -0.05em;
}

/* 회원정보 관리 - 회원탈퇴 */
.withdrawal-information {
    padding: 20px;
    background: var(--gray-f9);
}
.withdrawal-information-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.05em;
}
.withdrawal-paragraph {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.05em;
}
.withdrawal-paragraph:last-of-type {
    margin-bottom: 0px;
}
.withdrawal-paragraph-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.05em;
    margin-bottom: 4px;
}
.withdrawal-paragraph-desc {
    color: var(--gray-7d);
}
.caution-text {
    margin: 10px 0 20px;
    color: var(--primary-red);
    font-size: 12px;
    letter-spacing: -0.05em;
}

/* 회원정보 관리 - 버튼 스타일 */
.show-input-button {
    width: 30px;
    color: var(--gray-aa);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.05em;
    cursor: pointer;
}
.certification-button {
    width: 125px;
    height: 40px;
    border-radius: 4px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.05em;
    border: none;
    background: var(--gray-ef);
    color: var(--gray-c8);
}
.yellow-button {
    background: var(--sub-yellow);
    border: 1px solid var(--primary-yellow);
    color: var(--gray-393434);
    cursor: pointer;
}
.blue-button {
    border: none;
    background: var(--primary-blue);
    color: #fff;
    cursor: pointer;
}
.gray-button {
    border: none;
    background: var(--primary-gray); 
    color: #fff;
    cursor: pointer;
}
.button-wrap {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}
.button-wrap-padding-top {
    padding-top: 20px;
}
.edit-password-button-wrap {
    padding-top: 0px;
}
.button-wrap > .button {
    flex: 1;
    height: 60px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.05em;
}

.button-wrap a {
    display: inline-block;
    padding: 18px;
    width: 100%;
    height: 100%;
}

/*
카드 ui
*/
.two-columns-card-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.card-wrap {
    width: calc(50% - 10px);
    padding: 10px 20px;
    border: 1px solid var(--gray-d9);
    border-radius: 4px;
}
.card-thumbnail-wrap {
    float: left;
    margin-right: 20px;
    width: 136px;
    height: 100px;
    border-radius: 4px;
    overflow: hidden;
}
.card-thumbnail-wrap > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-company-name {
    margin: 10px 0 6px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.05em;
}
.card-title {
    margin-bottom: 6px;
    color: #000;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.05em;
}
.card-additional-info {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.05em;
}
.card-additional-info-wrap > img {
    float: right;
}