/*
tab-menu
*/
.tab-wrap {
    border-bottom: 1px solid var(--gray-f2);
}
.tab-wrap .content-wrap {
    display: flex;
    align-items: center;
    height: 40px;
}
.tab {
    position: relative;
    flex: 1;
    padding: 13px 0;
    color: var(--gray-99);
    font-size: 1.4rem;
    letter-spacing: -0.05em;
    text-align: center;
    cursor: pointer;
}
.selected-tab {
    color: var(--gray-393434);
    font-weight: 700;
}
.selected-tab::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-yellow);
}
.notice-tab::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 1rem;
    background: var(--gray-d9);
}

.tab-ul {
    max-width: 750px;
    min-width: 370px;
    margin: 0 auto;
    padding: 20px 15px 7px 15px;
    font-weight: 400;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
}
.tab-ul li {
    margin-bottom: 15px;
}
.list-style-square {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: var(--gray-393434);
    margin-right: 1rem;
    transform: translateY(-0.35rem);
}
.post-date {
    float: right;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
    text-align: right;
    color: var(--gray-99);
}

/*
footer-nav-wrap
*/
.footer-nav-wrap {
    background: var(--gray-393434);
}
.footer-nav {
    text-align: center;
}
.footer-nav > li {
    position: relative;
    display: inline-block;
    padding: 12px 12px 12px 0;
    color: #fff;
    font-size: 1.3rem;
    letter-spacing: -0.05em;
}
.footer-nav > li:not(:first-of-type) {
    padding-left: 12px;
}
.footer-nav > li:not(:last-of-type)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 10px;
    background: var(--gray-d9);
}

/*
footer-guide-section
*/
.footer-guide-section {
    color: var(--gray-393434);
}

.cs-center-section {
    margin-top: 10px;
    padding: 25px;
}
.cs-center-section .content-wrap {
    min-width: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--gray-d9);
}

.cs-center-tel-wrap {
    display: inline-block;
}
.cs-center-title {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: -0.05em;
}
.cs-center-tel {
    margin: 3px 0;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: -0.04em;
    font-family: 'Pretendard', '-apple-system', 'Noto Sans KR', 'sans-serif';
}

.cs-info-wrap {
    font-size: 1.3rem;
}
.cs-info:not(:last-of-type) {
    margin-bottom: 5px;
}
.cs-info label {
    display: inline-block;
    margin-right: 20px;
    letter-spacing: -0.05em;
}
.cs-info span {
    font-weight: 500;
    letter-spacing: -0.05em;
    font-family: 'Pretendard', '-apple-system', 'Noto Sans KR', 'sans-serif';
}
.cs-info-time {
    display: inline-block;
}

/*
footer-company-info
*/
.footer-company-info {
    padding-top: 20px;
}

.symbol-mono {
    width: 3.5rem;
}
.logotype-mono {
    margin-left: 0.5rem;
    width: 11.3rem;
}
.company-info-wrap {
    max-width: 750px;
    min-width: 375px;
    margin: 0 auto;
    padding: 0 25px;
}
.company-info-wrap .text {
    color: var(--gray-7d);
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: -0.05em;
}
.company-info {
    margin: 15px 0 25px;
}
.company-name {
    display: block;
    margin-bottom: 0.6rem;
    font-weight: 700;
}

.sns-shortcut-wrap {
    text-align: center;
}
.sns-shortcut {
    display: inline-block;
    margin-right: 2.5rem;
    width: 4.2rem;
}
.sns-shortcut img {
    width: 100%;
}
.copyright-wrap {
    margin-top: 25px;
    padding: 14px;
    background: #ccc;
    color: #444;
    text-align: center;
    font-size: 1.2rem;
    letter-spacing: -0.05em;
}