/*
앱 다운로드 배너
*/
.app-download-banner-wrap {
    background: rgba(255, 214, 0, 0.15);
    font-family: 'Pretendard', '-apple-system', 'Noto Sans KR', 'sans-serif';
}
.app-download-banner-wrap > .content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.app-download-banner-wrap img {
    margin-right: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translateY(0.3rem);
}
.app-download-banner-wrap .close-button {
    margin-right: 10px;
    width: 25px;
    height: 25px;
    border: none;
    background: none;
    transform: translateY(-5px);
    cursor: pointer;
}
.app-download-banner-wrap .symbol {
    width: 4rem;
}
.app-download-banner-wrap .banner-title {
    display: inline-block;
    transform: translateY(-0.3rem);
}
.app-download-banner-wrap .banner-title > h6 {
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--gray-252d32);
}
.app-download-banner-wrap .banner-title > p {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--gray-57);
}

.app-download-banner-wrap .app-download-button {
    padding: 10px 15px;
    border: 1px solid var(--primary-yellow) ;
    border-radius: 50px;
    background: var(--sub-yellow);
    font-weight: 700;
    font-size: 1.4rem;
    letter-spacing: -0.05em;
    cursor: pointer;
}
.app-download-banner-wrap .app-download-button > img {
    display: inline-block;
    margin-right: 10px;
    width: 1.4rem;
    height: 1.4rem;
}

/*
헤더 영역
*/
.header > .content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12.5px 15px;
}
    
.header-logo .symbol {
    width: 2.5rem;
}
.header-logo .logotype {
    width: 9.3rem;
    transform: translateY(-0.3rem);
}
.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 20rem;
    height: 30px;
    padding: 4px;
    border: 1px solid var(--gray-d9);
    border-radius: 100px;
}
.search-bar > input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: none;
}
.search-bar > img {
    width: 2.2rem;
    height: 2.2rem;
    cursor: pointer;
}