.banner-wrap {
    height: 18.5rem;
    overflow: hidden;
    cursor: pointer;
}
.banner-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*
바로가기 영역
*/
.main-shortcut-wrap {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: -13px;
    padding: 1rem 0;
    border-radius: 15px 15px 0 0;
    background: #fff;
    z-index: 1;
}
.main-shortcut-wrap li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}
.main-shortcut-wrap li:nth-of-type(3n) {
    border-right: none;
}
.main-shortcut-wrap li > a {
    display: inline-block;
    padding: 15px 0;
}
.main-shortcut-wrap .icon-wrap {
    width: 3.8rem;
    height: 3.8rem;
    margin-bottom: 8px;
}
.main-shortcut-wrap .icon-wrap > .icon {
    width: 100%;
    height: 100%;
}
.shortcut-name {
    display: block;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: -0.1em;
}
.notice-wrap {
    margin-top: -1px;
    padding: 11px 15px;
    background: var(--gray-f8);
    border: 1px solid var(--gray-eb);
    font-size: 12px;
    letter-spacing: -0.1em;
}
.notice-wrap > span:first-of-type {
    font-weight: 500;
    margin-right: 10px;
}
.shortcut-section-wrap .banner-wrap {
    margin-top: 10px;
    height: 185px;
}

/*
지역 선택 영역
*/
.location-selectbox {
    margin-bottom: 3.7rem;
    padding: 12.5px 15px;
    border: 1px solid var(--gray-eb);
    border-radius: 10px;
    box-shadow: 0px 7px 16px rgba(0, 0, 0, 0.05);
}
.location-icon > img {
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.location-name {
    font-size: 1.4rem;
    letter-spacing: -0.05em;
    color: var(--gray-312e27);
    vertical-align: 32%;
}
.arrow-right {
    margin: 0 5px;
    vertical-align: 25%;
}
.arrow-right > img {
    width: 1.4rem;
    height: 1.4rem;
}
.location-name {
    color: var(--gray-53);
}
.arrow-down {
    float: right;
}