.view-wrap,
.content-wrap {
    max-width: 750px;
    min-width: 375px;
    margin: 0 auto;
}
.view-wrap {
    padding: 15px 15px 0 15px;
}

.header-container {
    border-bottom: 1px solid var(--gray-de);
}
.gnb-container {
    width: 100%;
}
.footer-container {
    margin-top: 60px;
    background: #fff;
    font-family: 'nanumbarungothic', sans-serif;
}