.view-wrap,
.content-wrap {
    max-width: 750px;
    min-width: 360px;
    margin: 0 auto;
}
.view-wrap {
    padding: 15px 15px 0 15px;
}

.header-container {
    border-bottom: 1px solid var(--gray-de);
}
.gnb-container {
    width: 100%;
    /* margin-bottom: 59px;
    border-bottom: 1px solid var(--primary-yellow); */
}
/* .content-container {
    display: flex;
    gap: 40px;
    width: 1400px;
    margin: 0 auto;
} */
.main-container {
    /* width: 1100px; */
}
.footer-container {
    background: #fff;
}