/*
메인 요약
*/
.summary-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 376px;
    border: 1px solid var(--gray-d9);
    text-align: center;
}
.summary-icon-wrap {
    position: relative;
    margin: 0 auto 20px;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: var(--gray-f5);
    overflow: hidden;
}
.summary-icon-wrap > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.summary-title {
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: -0.05em;
}
.summary-desc {
    margin: 10px 0 20px;
    font-size: 14px;
    text-decoration: underline;
    letter-spacing: -0.05em;
}
.summary-button {
    width: 100%;
    height: 34px;
    border: 1px solid var(--gray-e3);
    border-radius: 4px;
    background: none;
    color: var(--gray-252d32);
    letter-spacing: -0.05em;
}

/* 프로필 영역 */
.profile-wrap {
    position: relative;
    padding: 0 35px 0 36px;
    width: 238px;
    height: 325px;
    border-right: 1px solid var(--gray-de);
}
.profie-image-wrap {
    margin: 20px auto;
}
.camera-icon {
    position: absolute;
    top: 110px;
    right: 60px;
    cursor: pointer;
}
.join-date,
.recent-login-date {
    font-size: 12px;
    letter-spacing: -0.05em;
}
.recent-login-date {
    margin: 10px 0 20px;
    color: var(--primary-blue);
    line-height: 16px;
}

/* 요약 정보 영역 */
.summary-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 861px;
}
.summary-box {
    width: 182px;
    height: 296px;
    padding: 30px 20px;
    border: 1px solid var(--gray-e3);
    border-radius: 4px;
}