/* reset.css */
* {
	box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: inherit;
    text-decoration: none;
    outline: none
}
a:hover,
a:active {
    color: inherit;
    text-decoration: none;
}

/* 폰트 적용 */
body {
    font-family: 'Nanum Barun Gothic', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--primary-gray);
}

/* variable */
:root {
	--primary-yellow: #FFD600;
	--sub-yellow: #FFE663;
	--primary-red: #E83B15;
	--primary-orange: #EF6D4B;
	--primary-green: #6EBB6C;
	--primary-blue: #0085FF;
	--primary-gray: #312E27;
	--gray-252d32: #252D32;
	--gray-393434: #393434;
	--gray-62: #626262;
	--gray-74: #747474;
	--gray-7d: #7D7D7D;
	--gray-84: #848484;
	--gray-8e: #8E8E8E;
	--gray-99: #999999;
	--gray-aa: #AAAAAA;
	--gray-ab: #ABABAB;
	--gray-ae: #AEAEAE;
	--gray-cb: #CBCBCB;
	--gray-c8: #C8C8C8;
	--gray-d9: #D9D9D9;
	--gray-de: #DEDEDE;
	--gray-e3: #E3E3E3;
	--gray-eb: #EBEBEB;
	--gray-e6: #E6E6E6;
	--gray-ef: #EFEFEF;
	--gray-f5: #F5F5F5;
	--gray-f6: #F6F6F6;
	--gray-f9: #F9F9F9;
}