.table-container {
    width: 1100px;
    margin-bottom: 60px;
}

/*
테이블 타이틀 영역
*/
.table-title-wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.table-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: -0.05em;
}
.table-title > .count {
    color: var(--primary-blue);
}
.table-more-button {
    border: none;
    background: none;
    color: var(--gray-62);
    font-size: 16px;
    letter-spacing: -0.05em;
    cursor: pointer;
}
.table-more-button::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: 4px;
    border-top: 1px solid var(--gray-62);
    border-right: 1px solid var(--gray-62);
    transform: translateY(-2.5px) rotate(45deg);
}


/*
테이블 영역
*/
.table {
    width: 100%;
    text-align: center;
    vertical-align: center;
}
.thead-row {
    border-top: 2px solid var(--primary-gray);
    border-bottom: 1px solid var(--gray-cb);
    background: var(--gray-f5);
}
.td {
    padding: 0 5px;
    height: 50px;
    vertical-align: middle;
}

.tbody-row {
    border-bottom: 1px solid var(--gray-cb);
}
.closed-row * {
    color: var(--gray-ae);
}
.tbody-cell {
    letter-spacing: -0.05em;
}

.no-data-row > .td {
    padding: 60px 0;
}
.table-create-data-button {
    width: 180px;
    height: 40px;
    margin-top: 14px;
    border: 1px solid var(--primary-blue);
    background: none;
    color: var(--primary-blue);
    font-size: 16px;
    letter-spacing: -0.05em;
}

.show-detail-button {
    background: none;
    border: none;
    color: var(--gray-62);
    letter-spacing: -0.055em;
    text-decoration: underline;
    cursor: pointer;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.table .manage-button {
    width: 63px;
    height: 30px;
    color: var(--gray-62);
    border-radius: 2px;
    cursor: pointer;
}
.table .edit-button {
    border: 1px solid var(--gray-d9);
    background: none;
}
.table .delete-button {
    border: none;
    background: var(--gray-d9);
}
.checkbox-icon {
    cursor: pointer;
}
.table-assistant-button {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid var(--gray-d9);
    border-radius: 4px;
    background: none;
    font-size: 14px;
    letter-spacing: -0.05em;
    color: var(--gray-62);
    cursor: pointer;
}

/*
셀 개별 조정
*/
.my-person-info-table .title-cell {
    width: 670px;
}

.interested-company-table .company-name-cell {
    width: 130px;
}
.interested-company-table .recruiting-info-cell {
    width: 730px;
}

.recommend-table .company-name-cell {
    width: 100px;
}
.recommend-table .title-cell {
    width: 710px;
}

.manage-person-info-table .title-cell {
    width: 540px;
}

.scrap-employment-table .title-cell {
    width: 600px;
}
.scrap-employment-table .company-name-cell {
    width: 100px;
}

.qna-table .title-cell {
    width: 750px;
}
.qna-table .status-cell {
    cursor: pointer;
}

.align-left {
    text-align: left;
}