<!-- footer-link-wrap -->
<div class="footer-link-wrap">
    <div class="link-section">
        <!-- 공식블로그 -->
        <div class="sub-section blog-section">
            <div class="section-title-wrap">
                <div class="section-title">
                    <span>공식블로그</span>
                    <span class="count">295</span>
                    <span>건</span>
                </div>
            </div>
            
            <ul>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">추운 겨울 피부를 보호하는 방법</span>
                    </div>
                    <span class="post-date">2022.10.27</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">스웨디시 복장? 어떤게 좋을까?</span>
                    </div>
                    <span class="post-date">2022.10.26</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">보습의 중요성!</span>
                    </div>
                    <span class="post-date">2022.10.25</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">마사지를 받아야 하는 5가지 이유!</span>
                    </div>
                    <span class="post-date">2022.10.20</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">운동 후 마사지가 필요한 이유!</span>
                    </div>
                    <span class="post-date">2022.10.17</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">태국 마사지 짭까사이 뜻?</span>
                    </div>
                    <span class="post-date">2022.10.14</span>
                </li>
            </ul>

            <button class="blog-link-button">
                <span>공식블로그 더보기</span>
                <span>+</span>
            </button>
        </div>
    </div>

    <div class="link-section">
        <!-- 마사지소식 -->
        <div class="sub-section massage-section">
            <div class="section-title-wrap">
                <div class="section-title">
                    <span>마사지소식</span>
                    <span class="count">284</span>
                    <span>건</span>
                </div>
                <img class="more-button" src="./icons/more-button.svg" alt="더보기 아이콘" />
            </div>
            
            <ul>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">강원 강릉 [VIP더바디] 스웨디시 마사지구인 진행 중입니다.</span>
                    </div>
                    <span class="post-date">2022.10.26</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">부산 서면 [시크릿테라피] 스웨디시 마사지구인 진행 중입니다.</span>
                    </div>
                    <span class="post-date">2022.10.26</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">시흥 정왕동 [제이페라피(J테라피)] 스웨디시 마사지구인 진행 중입니다.</span>
                    </div>
                    <span class="post-date">2022.10.26</span>
                </li>
            </ul>
        </div>

        <!-- 채용정보 문의 -->
        <div class="sub-section qna-section">
            <div class="section-title-wrap">
                <div class="section-title">
                    <span>채용정보 문의</span>
                    <span class="count">88</span>
                    <span>건</span>
                </div>
                <img class="more-button" src="./icons/more-button.svg" alt="더보기 아이콘" />
            </div>
            
            <ul>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">인재정보 확인 어떻게하나요</span>
                    </div>
                    <span class="post-date">2022.08.20</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">구인구직 문의요</span>
                    </div>
                    <span class="post-date">2022.08.19</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">제휴문의드립니다</span>
                    </div>
                    <span class="post-date">2022.07.08</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="link-section">
        <!-- 공지사항 -->
        <div class="sub-section notice-section">
            <div class="section-title-wrap">
                <div class="section-title">
                    <span>공지사항</span>
                    <span class="count">15</span>
                    <span>건</span>
                </div>
                <img class="more-button" src="./icons/more-button.svg" alt="더보기 아이콘" />
            </div>
            
            <ul>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">10월 연휴 휴무안내!</span>
                    </div>
                    <span class="post-date">2022.09.30</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">테라피닷컴 추석연휴 휴무 안내!</span>
                    </div>
                    <span class="post-date">2022.09.08</span>
                </li>
                <li class="link-list">
                    <div class="post-title-wrap">
                        <span class="link-list-style"></span>
                        <span class="post-title">테라피닷컴 광복절 휴무 안내! (22.08.15)</span>
                    </div>
                    <span class="post-date">2022.08.12</span>
                </li>
            </ul>
        </div>

        <!-- 바로가기 -->
        <div class="sub-section shortcut-section">
            <div class="section-title-wrap">
                <div class="section-title">
                    <span>바로가기</span>
                </div>
            </div>
            
            <ul class="shortcut-list-wrap">
                <li class="shortcut-list">
                    <a class="shortcut-link" href="#">
                        <div class="shortcut-icon">
                            <img src="./icons/document.svg" alt="채용정보등록 아이콘" />
                        </div>
                        <span class="shortcut-title">채용정보등록</span>
                    </a>
                </li>
                <li class="shortcut-list">
                    <a class="shortcut-link" href="#">
                        <div class="shortcut-icon">
                            <img src="./icons/zoom-person.svg" alt="인재정보등록 아이콘" />
                        </div>
                        <span class="shortcut-title">인재정보등록</span>
                    </a>
                </li>
                <li class="shortcut-list">
                    <a class="shortcut-link" href="#">
                        <div class="shortcut-icon">
                            <img src="./icons/marketing.svg" alt="업소홍보 아이콘" />
                        </div>
                        <span class="shortcut-title">업소홍보</span>
                    </a>
                </li>
                <li class="shortcut-list">
                    <a class="shortcut-link" href="#">
                        <div class="shortcut-icon">
                            <img src="./icons/blog.svg" alt="공식블로그 아이콘" />
                        </div>
                        <span class="shortcut-title">공식블로그</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- footer-link-wrap 끝 -->

<!-- footer-nav -->
<div class="footer-nav-wrap">
    <ul class="footer-nav">
        <li>
            <a href="#">회사소개</a>
        </li>
        <li>
            <a href="#">광고안내</a>
        </li>
        <li>
            <a href="#">이용약관</a>
        </li>
        <li>
            <a href="#">개인정보처리방침</a>
        </li>
        <li>
            <a href="#">업체관리자페이지</a>
        </li>
    </ul>
</div>
<!-- footer-nav 끝 -->

<!-- footer-guide-wrap -->
<div class="footer-guide-wrap">
    <div class="footer-guide-section">
        <!-- 고객센터 -->
        <div class="cs-center-section">
            <div class="cs-center-tel-wrap">
                <div class="cs-center-title">고객센터</div>
                <div class="cs-center-tel">1661-7170</div>
                <p class="desc">전화 전 자주 묻는 질문을 확인하세요</p>
            </div>

            <ul class="cs-info-wrap">
                <li class="cs-info">
                    <label>근무시간</label>
                    <div class="cs-info-time">
                        <span>09:00 ~ 18:00</span>
                        <span>(주말, 공휴일 휴무)</span>
                    </div>
                </li>
                <li class="cs-info">
                    <label>점심시간</label>
                    <span>12:00 ~ 13:00</span>
                </li>
                <li class="cs-info">
                    <label>E-mail</label>
                    <span>tedy@adcrown.co.kr</span>
                </li>
            </ul>
        </div>
    </div>

    <!-- 바로가기 아이콘 -->
    <div class="footer-guide-section footer-shortcut-section">
        <ul class="footer-shortcut-wrap">
            <li class="footer-shortcut">
                <a class="shortcut-link" href="#">
                    <div class="footer-shortcut-icon">
                        <img src="./icons/sell.svg" alt="업소매매 아이콘" />
                    </div>
                    <span class="footer-shortcut-title">업소매매</span>
                </a>
            </li>
            <li class="footer-shortcut">
                <a class="shortcut-link" href="#">
                    <div class="footer-shortcut-icon">
                        <img src="./icons/cs-center.svg" alt="제휴문의 아이콘" />
                    </div>
                    <span class="footer-shortcut-title">제휴문의</span>
                </a>
            </li>
            <li class="footer-shortcut">
                <a class="shortcut-link" href="#">
                    <div class="footer-shortcut-icon">
                        <img src="./icons/edit.svg" alt="수정요청 아이콘" />
                    </div>
                    <span class="footer-shortcut-title">수정요청</span>
                </a>
            </li>
            <li class="footer-shortcut">
                <a class="shortcut-link" href="#">
                    <div class="footer-shortcut-icon">
                        <img src="./icons/faq.svg" alt="자주묻는질문 아이콘" />
                    </div>
                    <span class="footer-shortcut-title">자주묻는질문</span>
                </a>
            </li>
        </ul>
    </div>

    <!-- APP 다운로드 -->
    <div class="footer-guide-section app-download-section">
        <div>
            <div class="app-download-title">APP 다운로드</div>
            <p class="desc">
                언제 어디서나 원하는 채용정보를<br />
                확인하세요!
            </p>
        </div>
        <img class="symbol" src="./images/symbol.svg" alt="심볼" />
    </div>
</div>
<!-- footer-guide-wrap 끝 -->

<!-- company-info-wrap -->
<div class="footer-company-info">
    <!-- 회사 정보 -->
    <div class="company-info-wrap">
        <img class="symbol-mono" src="./images/symbol_mono.svg" alt="모노톤 심볼" />
        <img class="logotype-mono" src="./images/logotype_mono.svg" alt="모노톤 로고타입" />
        
        <p class="text company-info">
            <span class="company-name">(주)애드크라운</span>
            (주)애드크라운 경기도 화성시 동탄첨단산업1로 27, 금강 IX타워 3134호 ~ 3135호 | 대표이사 : 박현구<br />
            사업자등록번호 : 450-86-01760 | 통신판매신고번호 : 제 2020-화성동탄-1423호 | 직업정보제공사업신고번호 : J1511020210002
        </p>
        <p class="text">
            Copyright © 2022 therapy114.com All Rights Reserved.
        </p>
    </div>

    <!-- sns 바로가기 -->
    <ul class="sns-shortcut-wrap">
        <li class="sns-shortcut">
            <a href="#">
                <img src="./icons/sns-facebook.svg" alt="페이스북 아이콘" />
            </a>
        </li>
        <li class="sns-shortcut">
            <a href="#">
                <img src="./icons/sns-blog.svg" alt="블로그 아이콘" />
            </a>
        </li>
        <li class="sns-shortcut">
            <a href="#">
                <img src="./icons/sns-instagram.svg" alt="인스타 아이콘" />
            </a>
        </li>
    </ul>
</div>
<!-- company-info-wrap 끝 -->