<!-- tab menu -->
<ul class="tab-wrap">
    <div class="content-wrap">
        <!-- 선택된 탭일 경우 selected-tab 클래스명 추가 -->
        <li class="tab notice-tab selected-tab">공지사항</li>
        <li class="tab faq-tab">자주하는 질문</li>
    </div>
</ul>

<!-- 활성화 되지 않은 tab-ul 에는 hide 클래스명 추가(토글) -->
<!-- 공지사항 ul -->
<ul class="tab-ul notice-ul-wrap">
    <li>
        <span class="list-style-square"></span>
        <span>10월 연휴 휴무안내!</span>
        <span class="post-date">2022.09.30</span>
    </li>
    <li>
        <span class="list-style-square"></span>
        <span>테라피닷컴 추석연휴 휴무 안내!</span>
        <span class="post-date">2022.09.30</span>
    </li>
    <li>
        <span class="list-style-square"></span>
        <span>5월 5일 어린이날 공휴일 휴무안내</span>
        <span class="post-date">2022.09.30</span>
    </li>
    <li>
        <span class="list-style-square"></span>
        <span>3개월 휴무안내</span>
        <span class="post-date">2022.09.30</span>
    </li>
</ul>
<!-- 공지사항 ul 끝 -->

<!-- 활성화 되지 않은 tab-ul 에는 hide 클래스명 추가(토글) -->
<!-- 자주하는 질문 ul -->
<ul class="tab-ul faq-ul-wrap hide">
    <li>
        <span class="list-style-square"></span>
        <span>테라피닷컴 추석연휴 휴무 안내!</span>
        <span class="post-date">2022.09.30</span>
    </li>
    <li>
        <span class="list-style-square"></span>
        <span>10월 연휴 휴무안내!</span>
        <span class="post-date">2022.09.30</span>
    </li>
    <li>
        <span class="list-style-square"></span>
        <span>10월 연휴 휴무안내!</span>
        <span class="post-date">2022.09.30</span>
    </li>
    <li>
        <span class="list-style-square"></span>
        <span>5월 5일 어린이날 공휴일 휴무안내</span>
        <span class="post-date">2022.09.30</span>
    </li>
</ul>
<!-- 자주하는 질문 ul 끝 -->
<!-- tab menu 끝 -->

<!-- footer-nav -->
<div class="footer-nav-wrap">
    <ul class="footer-nav">
        <li>
            <a href="#">회사소개</a>
        </li>
        <li>
            <a href="#">광고안내</a>
        </li>
        <li>
            <a href="#">이용약관</a>
        </li>
        <li>
            <a href="#">개인정보처리방침</a>
        </li>
    </ul>
</div>
<!-- footer-nav 끝 -->

<!-- footer-guide-section-->
<div class="footer-guide-section">
    <!-- 고객센터 -->
    <div class="cs-center-section">
        <div class="content-wrap">
            <div class="cs-center-tel-wrap">
                <div class="cs-center-title">고객센터</div>
                <div class="cs-center-tel">1661-7170</div>
            </div>
    
            <ul class="cs-info-wrap">
                <li class="cs-info">
                    <label>근무시간</label>
                    <span>09:00 ~ 18:00</span>
                </li>
                <li class="cs-info">
                    <label>점심시간</label>
                    <span>12:00 ~ 13:00</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- footer-guide-section 끝 -->

<!-- company-info-wrap -->
<div class="footer-company-info">
    <!-- 회사 정보 -->
    <div class="company-info-wrap">
            <img class="symbol-mono" src="/images/symbol_mono.svg" alt="모노톤 심볼" />
            <img class="logotype-mono" src="/images/logotype_mono.svg" alt="모노톤 로고타입" />
            
            <p class="text company-info">
                <span class="company-name">(주)애드크라운</span>
                경기도 화성시 동탄첨단산업1로 27,<br />
                금강 IX타워 3134호 ~ 3135호<br />
                대표이사 : 박현구<br />
                사업자등록번호 : 450-86-01760<br />
                통신판매신고번호 : 제 2020-화성동탄-1423호<br />
                직업정보제공사업신고번호 : J1511020210002
            </p>
    </div>

    <!-- sns 바로가기 -->
    <ul class="sns-shortcut-wrap">
        <li class="sns-shortcut">
            <a href="#">
                <img src="/icons/sns-facebook.svg" alt="페이스북 아이콘" />
            </a>
        </li>
        <li class="sns-shortcut">
            <a href="#">
                <img src="/icons/sns-blog.svg" alt="블로그 아이콘" />
            </a>
        </li>
        <li class="sns-shortcut">
            <a href="#">
                <img src="/icons/sns-instagram.svg" alt="인스타 아이콘" />
            </a>
        </li>
    </ul>
</div>
<!-- company-info-wrap 끝 -->

<div class="copyright-wrap">
    Copyright © 2022 therapy114.com All Rights Reserved.
</div>