<ul class="gnb">
    <div class="content-wrap">
        <ul class="gnb-menu-wrap">
            <li class="gnb-menu">
                <a href="/main.html">
                    <img class="gnb-icon" src="https://dv-jamie.github.io/therapy.com-mobile/icons/gnb/home.svg" alt="홈 아이콘" />
                    <!-- <img class="gnb-icon" src="../icons/gnb/home.svg" alt="홈 아이콘" /> -->
                    <span class="gnb-menu-name">홈</span>
                </a>
            </li>
            <li class="gnb-menu">
                <a href="/main.html">
                    <img class="gnb-icon" src="../icons/gnb/menu.svg" alt="메뉴 아이콘" />
                    <span class="gnb-menu-name">전체메뉴</span>
                </a>
            </li>
            <li class="gnb-menu">
                <a href="/main.html">
                    <img class="gnb-icon" src="../icons/gnb/star.svg" alt="별 아이콘" />
                    <span class="gnb-menu-name">추천공고</span>
                </a>
            </li>
            <li class="gnb-menu">
                <a href="/main.html">
                    <img class="gnb-icon" src="../icons/gnb/clock.svg" alt="시계 아이콘" />
                    <span class="gnb-menu-name">최근 본</span>
                </a>
            </li>
            <li class="gnb-menu">
                <a href="/main.html">
                    <img class="gnb-icon" src="../icons/gnb/user.svg" alt="유저 아이콘" />
                    <span class="gnb-menu-name">마이페이지</span>
                </a>
            </li>
        </ul>
    </div>
</ul>