<ul class="gnb">
    <ul class="gnb-left">
        <li>
            <a href="#">채용정보</a>
        </li>
        <li>
            <a href="#">인재정보</a>
        </li>
        <li>
            <a href="#">업소매매</a>
        </li>
        <li>
            <a href="#">커뮤니티</a>
        </li>
        <li>
            <a href="#">고객센터</a>
        </li>
    </ul>

    <ul class="gnb-right">
        <li>
            <img src="./icons/price.svg" alt="가격 아이콘" />
            <a href="#">광고안내</a>
        </li>
        <li>
            <img src="./icons/buildings.svg" alt="빌딩 아이콘" />
            <a href="#">회사소개</a>
        </li>
    </ul>
</ul>