<!-- 앱 다운로드 배너 -->
<!-- 배너 비활성 시 hide 클래스명 추가 -->
<div class="app-download-banner-wrap">
    <div class="content-wrap">
        <div>
            <button class="close-button">
                <img src="/icons/close.svg" alt="닫기 아이콘" />
            </button>
        
            <img class="symbol" src="/images/symbol.svg" alt="심볼" />
        
            <div class="banner-title">
                <h6>테라피닷컴 앱</h6>
                <p>구해줘, 테라피닷컴!</p>
            </div>
        </div>
    
        <button class="app-download-button">
            <img src="/icons/download.svg" alt="다운로드 아이콘" />
            <span>앱 다운 받기</span>
        </button>
    </div>
</div>
<!-- 앱 다운로드 배너 끝 -->

<div class="header">
    <div class="content-wrap">
        <h1 class="header-logo">
            <a href="/main.html">
                <img class="symbol" src="/images/symbol-no-background.svg" alt="심볼" />
                <img class="logotype" src="/images/logotype.svg" alt="로고타입" />
            </a>
        </h1>
    
        <div class="search-bar">
            <input class="search-input" />
            <img src="/icons/search-btn.svg" alt="검색 아이콘" />
        </div>
    </div>
</div>