<div class="header">
    <h1 class="header-logo">
        <a href="/main.html">
            <img src="/images/logo.png" alt="로고" />
        </a>
    </h1>

    <div class="search-bar">
        <input class="search-input" />
        <img src="/icons/search-btn.svg" alt="검색 아이콘" />
    </div>

    <ul class="header-user-info-wrap">
        <li class="header-user-info user-info-login">
            <img src="/icons/login.svg" alt="로그인 아이콘" />
            <a href="#">
                <span>로그인</span>
            </a>
        </li>
        <li class="header-user-info">
            <a href="#">
                <span>회원가입</span>
            </a>
        </li>
    </ul>
</div>