<div class="snb-title-wrap">
    <a href="#">
        <h3 class="page-sub-title">구해줘, 테라피닷컴!</h3>
        <h2 class="page-title">업체회원 서비스</h2>
    </a>
</div>

<ul class="snb">
    <li class="menu">
        <a href="#">
            <span>채용정보 관리</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 채용정보 등록</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 채용정보 관리</a>
        </li>
    </ul>

    <li class="menu">
        <a href="#">
            <span>인재정보 관리</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 인재정보 참여내역</a>
        </li>
    </ul>
    
    <li class="menu">
        <a href="#">
            <span>회원 정보 관리</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 회원정보 수정/탈퇴</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 비밀번호 변경</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 사업자정보 수정</a>
        </li>
    </ul>

    <li class="menu">
        <a href="#">
            <span>유료서비스 관리</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 유료서비스 신청</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 유료 이용 내역</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 세금계산서 신청</a>
        </li>
    </ul>

    <li class="menu">
        <a href="#">
            <span>고객센터</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 1:1문의</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 간단 제휴 문의</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 부정사용자 신고</a>
        </li>
    </ul>
</ul>