<div class="page-title-wrap">
    <a href="#">
        <h3 class="page-sub-title">구해줘, 테라피닷컴!</h3>
        <h2 class="page-title">업체회원 서비스</h2>
    </a>
</div>

<ul class="snb">
    <li class="menu">
        <a href="#">
            <span>인재정보 관리</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 인재정보 등록</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 인재정보 관리</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 내 인재정보 관심업체</a>
        </li>
    </ul>
    
    <li class="menu">
        <a href="#">
            <span>회원 정보 관리</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 회원정보 수정</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 비밀번호 변경</a>
        </li>
    </ul>

    <li class="menu">
        <a href="#">
            <span>스크랩/관심업체</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 추천 채용정보</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 최근 본 채용정보</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 스크랩한 채용정보</a>
        </li>
    </ul>

    <li class="menu">
        <a href="#">
            <span>고객센터</span>
            <img src="/icons/arrow-down.svg" alt="화살표 아이콘" />
        </a>
    </li>
    <ul class="sub-menu-wrap">
        <li class="sub-menu">
            <a href="#">- 1:1문의</a>
        </li>
        <li class="sub-menu">
            <a href="#">- 부정사용자 신고</a>
        </li>
    </ul>
</ul>